<label class="form-control w-full max-w-xs">

  <%= form_with model: @profile, url: profile_path do |f| %>
    <div class="label">
      <span class="label-text">ユーザー名</span>
    </div>
      <%= f.text_field :name, placeholder: "ここに入力", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>

    <div class="label">
      <span class="label-text mt-2">アバター画像</span>
    </div>
      <%= f.file_field :avatar, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>

    <button class="btn btn-primary mt-4">
      <span class="label-text-alt"><%= f.submit "登録" %></span>
    </button>
  <% end %>
</label>
