<label class="form-control w-full max-w-xs">
  <div class="label">
    <span class="label-text">ユーザー名</span>
  </div>
  <%= form_with model: @profile, url: profile_path do |f| %>
    <%= f.text_field :name, placeholder: "ここに入力", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>

    <div class="label">
      <span class="label-text">アバター画像</span>
    </div>
      <%= f.file_field :image, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>

    <button class="btn">
      <span class="label-text-alt"><%= f.submit "登録" %></span>
    </button>
  <% end %>
</label>
