<div>
  <h1 class="font-bold text-4xl">マイページ</h1>
<br>
  <p>ユーザー名</p>
<br>
  <p><%= current_user.profile.name %></p>
<br>
  <p>アバター画像</p>
<br>
  <p><%= "画像機能実装後にアバター画像表示させる" %></p>
<br>
  <button class="btn">
  <%= link_to "変更する", edit_profile_path %>
  </button>
</div>
