<%= turbo_frame_tag comment do %>

  <%= form_with model: [ @post, @comment ] do |f| %>

    <div class="flex justify-center">
      <% f.label :body %>
      <%= f.text_area :body, placeholder: "コメントする", class: "textarea textarea-bordered textarea-sm w-full max-w-xs" %>
    </div>

    <div class="flex justify-end my-4 mr-4">
      <%= f.submit "送信", class: "btn btn-primary" %>
    </div>
  <% end %>

<% end %>
