
<div class="container mx-auto">
    <h1 class="font-bold text-4xl">作業のオトモ</h1>
  <br>
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

  *以下のリンクは仮置き
  <br>
    <%= link_to "LINEログイン", user_line_omniauth_authorize_path,
    class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium", method: :post %>
  <br>
    <%= link_to "ログアウト", destroy_user_session_path,
    class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium", data: { turbo_method: :delete } %>
  <br>
  友達登録をしてプッシュ通知を受け取る
  <%= image_tag 'sagyo-no-otomo_qr.png', size: '200x200'%>

</div>