<!-- ========== HEADER ========== -->
<header class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-blue-600 text-sm py-3 sm:py-0">
  <nav class="relative max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8" aria-label="Global">
    <div class="flex items-center justify-between">
      <a class="flex-none text-xl  px-4 font-semibold text-white" href="#" aria-label="Brand">作業のオトモ</a>

    </div>

        <a class="flex items-center gap-x-2 font-medium text-white/[.8] hover:text-white sm:border-s sm:border-white/[.3] sm:my-6 sm:ps-6" href="#">
          <%= link_to "LINEログイン", user_line_omniauth_authorize_path, class: "font-medium text-white/[.8] hover:text-white sm:py-6",  method: :post %>
      </div>
    </div>
  </nav>
</header>
<!-- ========== END HEADER ========== -->