<header>
  <div class="navbar bg-base-100">
    <div class="flex-1">
      <%= link_to "作業のオトモ", root_path, class: "btn btn-ghost text-3xl" %>
    </div>
    <div class="justify-center">
      <%= link_to "LINEログイン", user_line_omniauth_authorize_path, method: :post %>
    </div>
  </div>
</header>