<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <nav class="grid grid-flow-col gap-4">
    <p>© 2024 - 作業のオトモ</p>
    <p><%= link_to "利用規約", terms_of_service_path %></p>
    <p><%= link_to "プライバシーポリシー", privacy_policy_path %></p>
  </nav>
</footer>
