<div class=" flex flex-col items-center w-full px-4">
  <div class="mx-auto">
    <h1 class="font-bold text-2xl">ランダムピックアップ</h1>

    <%= render partial: "posts/full_post", locals: { post: @post } %>

  </div>
</div>
