<div class="mx-auto md:w-2/3 w-full flex flex-col items-center">
  <div class="w-full max-w-lg">
    <h1 class="font-bold text-2xl">投稿詳細</h1>
    <div class="mb-2">
    <%= render partial: "posts/full_post", locals: { post: @post } %>
    <%= render 'comments/form', { comment: @comment } %>
    <%= render 'comments/comments', { comments: @comments } %>
    </div>
  </div>
</div>
